# Entornos virtuales
venv/
.venv/
env/
ENV/

# Variables de entorno y credenciales sensibles
.env
!.env.example

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Caché de PyTorch y vLLM
.cache/
torch_compile_cache/

# Configuración de IDEs
.vscode/
.idea/

# Logs y Audios
*.log
*.wav
*.flac
*.mp3

# Bases de datos y almacenamiento vectorial local
data/
*.lance/

